.product{
    position: relative;
    width: 40%;
    /* width: 70%; */
    background-color: #D34735;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 50px auto;
}

.product-content{
    position: relative;
    padding: 10px;
}

.product-flex {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.product-content img{
    width: 50%;
}

.product-info{
    position: relative;
    width: 50%;
    margin-left: 20px;
}

.product-info > p {
    text-align: left;
    margin-bottom: 10px;
}

.product-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}

.product-buttons button {
    padding: 10px;
    border-radius: 10px;
    background-color: #3AD886;
    border: none;

    font-size: 1.1rem;
}